@import "tailwindcss";

@theme {
  --color-background: #000;
  --color-foreground: #fff;
  /* --color-card: ;
  --color-primary: ;
  --color-primary-foreground: ;
  --color-secondary: ;
  --color-secondary-foreground: ;
  --color-muted: ;
  --color-muted-foreground: ;
  --color-border: ;
  --color-highlight: #f5a623;
  --color-surface: ; */
  --radius: 0.75rem;
}

@layer base {
  html{
    scroll-behavior: smooth;
  }
  body{
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
  /* .font-change{
    font-family: "Playfair Display";
  } */
}